
@{
    ViewData["Title"] = "CalFile";
    @model List<CalculateSalary.Models.CalFileViewModel>

}

@section css
    {
    <link href="~/xqy/css/calfile/calfile.css" rel="stylesheet" />
}

@section body
    {
    @foreach (var calFileViewModel in Model)
    {
        <div class="row">
            <h5 class="text-center">- - - - - 文件 @(calFileViewModel.ExcelName) 解析结果如下 - - - - -</h5>
            @if (!calFileViewModel.IsSuccess)
            {
                <h5 class="text-center text-danger">解析错误：@calFileViewModel.ErrMsg</h5>
                <br />
            }
            else if (!string.IsNullOrEmpty(calFileViewModel.Msg))
            {
                <h5 class="text-center text-danger">注意：@calFileViewModel.Msg</h5>
                <br />
            }
        </div>
        @if (calFileViewModel.IsSuccess)
        {
            <div class="row">

                @foreach (var workerInfo in calFileViewModel.WorkerSalary)
                {
                    <div class="col-md-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="nameth">姓名</th>
                                    <th class="resultth">结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@workerInfo.Key</td>
                                    <td>@workerInfo.Value</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        }
    }
}


