@{
    ViewData["Title"] = "新全优工资计算";
}
@section css
    {

    <link href="~/xqy/css/fileinput.min.css" rel="stylesheet" />
}

@section body
    {
    <div class="row">

        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form id="form" action="" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading" align="center">
                            <label style="text-align: center;font-size: 18px;">请先上传你的工资表格文件</label>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <input id="input-id" name="file" multiple type="file" data-show-caption="true">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h4>注意：</h4>
      
            <h5>1，Excel文件上限为1MB，超限请缩减。</h5>
            <h5>2，仅支持2007版本的Excel文件，即后缀应为xlsx，而不是xls。</h5>
            <h5>3，不要有任何的隐藏行或列，否则可能引起数据异常。</h5>
            <br /><br />
            <h4>发布历史：</h4>
            <h5>2018-05-07 测试版(betaV1.1)</h5>
            <h5>1，修正初三新生起始课时费为70，初二升初三则延续当前课时费。</h5>
            <br/>
            <h5>2018-04-19 测试版(betaV1.0)</h5>
            <h5>1，基本功能可用。</h5>
            <h5>2，支持多人一次性计算工资。</h5>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br /><br />
}

@section script
    {
    <script src="~/xqy/js/fileinput.min.js"></script>
    <script src="~/xqy/js/zh.js"></script>
    <script src="~/xqy/js/home/index.js"></script>
}
