@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


html {
    height: 100%;
    overflow: hidden;
}

.mycenterdiv{}

body {
    /*部分元素需要js调整*/
    height: 100%;
    font-family: 'jdlibianjian', "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    /*animation: zoomIn 1000ms ease 3000ms 1 both;*/
    /*background-color: lightskyblue;*/
    
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.testcolor {
    background-color: lightblue;
 
}

/*所有的花图片*/
.flower {
    position: absolute;
    opacity: 1;
    overflow: hidden;
}
    .flower div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0px 0px;

    }
/*所有右边的花需要翻转*/
.rightflower {
    overflow: hidden;
}
    /*顶部花*/
#topflower div {
    background-image: url(/weeding/images/top.src);
    overflow: hidden;
}

/*顶部左边的花*/
#topleftbesideflower div {
    background-image: url(/weeding/images/topbeside.src);

    overflow: hidden;
}

#toprightbesideflower div {
    background-image: url(/weeding/images/topbeside.src);

    overflow: hidden;
}

/*左边的花*/
#left div {
    background-image: url(/weeding/images/leftandright.src);

    overflow: hidden;
}

#right div {
    background-image: url(/weeding/images/leftandright.src);

    overflow: hidden;
}

#bottomleft div {
    background-image: url(/weeding/images/bottomleftandright.src);

    overflow: hidden;
}

#bottomright div {
    background-image: url(/weeding/images/bottomleftandright.src);

    overflow: hidden;
}

#bottom div {
    background-image: url(/weeding/images/bottom.src);

    overflow: hidden;
}

#word {
    position: absolute;
    height: 20%;
    width: 40%;
    color: rgb(82, 124, 135);
    font-size: 30px;
}

#yaoqing {
    color: rgb(153, 28, 52);
}

#name {
    color: rgb(153, 28, 52);
}

#hunli {
    color: rgb(153, 28, 52);
}

#maomeiruhua {
    color: rgb(153, 28, 52);
}

#zuanqianyangjian {
    color: rgb(153, 28, 52);
}

#secondtopflower {
    z-index: 1;
}

#secondtopflower div {
    background-image: url(/weeding/images/zhangyuimgtopandbottom.src);
    overflow: hidden;
}
#secondbottomflower {
    z-index: 1;
}

    #secondbottomflower div {
        background-image: url(/weeding/images/zhangyuimgtopandbottom.src);
        overflow: hidden;
    }

#secondbottomleftflower div {
    background-image: url(/weeding/images/top.src);
    overflow: hidden;
}

#secondbottomrightflower div {
    background-image: url(/weeding/images/bottom.src);
    overflow: hidden;
}


#thirdtopflower {
    z-index: 1;
}

#thirdtopflower div {
    background-image: url(/weeding/images/zhangyuimgtopandbottom.src);
    overflow: hidden;
}
#thirdbottomflower {
    z-index: 1;
}

#thirdbottomflower div {
    background-image: url(/weeding/images/zhangyuimgtopandbottom.src);
    overflow: hidden;
}

#thirdbottomleftflower div {
    background-image: url(/weeding/images/top.src);
    overflow: hidden;
}

#thirdbottomrightflower div {
    background-image: url(/weeding/images/bottom.src);
    overflow: hidden;
}

#fourbottomleftflower div {
    background-image: url(/weeding/images/fourbottomleftflower.src);
    overflow: hidden;
}

#fourbottommidflower div {
    background-image: url(/weeding/images/fourbottommidflower.src);
    overflow: hidden;
}

#fourbottomrightflower div {
    background-image: url(/weeding/images/fourbottomrightflower.src);
    overflow: hidden;
}
