<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OK，这是一个测试页面">
    <meta name="keywords" content="没有关键字">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*
        <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css" rel="stylesheet" />*@
    <link href="~/weeding/css/amazeui.css" rel="stylesheet" />
    <link href="~/weeding/css/animate.css" rel="stylesheet" />
    @*<link href="~/weeding/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/weeding/css/weeding.css" rel="stylesheet" />
    @*<link href="~/weeding/css/typing.css" rel="stylesheet" />*@



    @*<script src="~/weeding/js/finalweeding.js"></script>*@
    @*<script src="~/weeding/js/typing.js"></script>*@
    @*
        <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.js"></script>
        <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.js"></script>
        <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.js"></script>*@
</head>

<body>
    @*活动页面*@
    <div id="mainPage" style="height: 100%">
        <div style="height:32%">

        </div>
        <div style="height: 15%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12 am-u-sm-centered" style="height: 100%" id="zhangyu">

                </div>
            </div>
        </div>
        <div style="height: 5%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12" style="height: 100%" id="yaoqing">
                </div>
            </div>
        </div>
        <div style="height: 7%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12" style="height: 100%" id="shui">
                </div>
            </div>
        </div>
        <div style="height: 30%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12" style="height: 100%" id="hunli">
                </div>
            </div>
        </div>

        @*<div style="height:20%">
            <div id="word"></div>
        </div>
        <div id="wanttosay" style="display: none">
            <div class="am-g" style="text-align: center">
                <h1>XX</h1>
            </div>
            <div class="am-g">&nbsp;&nbsp;&nbsp;&nbsp;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</div>

        </div>*@
    </div>

    <div id="firstPage" style="display: none">
        <div class="am-g" style="height: 10%">

        </div>
        <div class="am-g" style="height: 80%">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div id="temp" style="display: none">
                    <div class="am-g" style="text-align: center">
                        <h1>XX</h1>
                    </div>
                    <div class="am-g">&nbsp;&nbsp;&nbsp;&nbsp;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</div>

                </div>
                <span id="whatToSay"></span>
            </div>

        </div>
        <div class="am-g" style="height: 10%">

        </div>

    </div>

    <div id="secondPage" style="display: none">
        <div class="am-g" style="height: 10%">
        </div>
        <div class="am-g" style="height: 20%">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div id="secondtemp" style="display: none">
                    <div class="am-g" style="text-align: center">
                        <h1>XXXX</h1>
                    </div>
                </div>
                <span id="secondman"></span>
            </div>
        </div>
        <div class="am-g" style="height: 60%">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div id="secondimgtemp" style="display: none">
                    <img class="am-circle am-img-thumbnail" style="width: 90%; height: 90%" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
                </div>
                <div id="secondimg" style="text-align: center"></div>
            </div>
        </div>
        <div class="am-g" style="height: 10%">
        </div>
    </div>




</body>



</html>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="~/weeding/js/common.js"></script>

<script src="~/weeding/js/amazeui.js"></script>
<script src="~/weeding/js/amazeui.ie8polyfill.js"></script>
<script src="~/weeding/js/amazeui.widgets.helper.js"></script>
<script src="~/weeding/js/typed.js"></script>

<script src="~/weeding/js/main.js"></script>

