@{
    bool isDebug = true;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OK，这是一个测试页面">
    <meta name="keywords" content="没有关键字">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/weeding/css/preload.css" rel="stylesheet" />
    <link href="~/weeding/css/weeding.css" rel="stylesheet" />


    @*本地配置*@
    <link href="~/weeding/css/amazeui.css" rel="stylesheet" />
    <link href="~/weeding/css/animate.css" rel="stylesheet" />

    @*线上配置*@
    @*<link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">*@
    
    <style>
        #huge
        {
            border:10px solid;
            border-radius:20px;
            border-color:lightcyan;
 
        }
    </style>
</head>

<body>
    @*主屏*@
<div id="mainDiv" style="height: 100%; width: 100%">
    
    @*加载动画*@
    <div style="height: 35%">
        <img id="huge" />
    </div>
    <div style="height: 10%">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

</div>

    @*首屏*@
    <div id="firstScreen" style="display: none">
        @*最顶上花*@
        <div id="topflower" class="flower">
            <div></div>
        </div>
        @*顶端左边的花*@
        <div id="topleftbesideflower" class="flower">
            <div></div>
        </div>
        @*顶端右边的花*@
        <div id="toprightbesideflower" class="flower rightflower">
            <div></div>
        </div>

        @*左边的花*@
        <div id="left" class="flower">
            <div></div>
        </div>
        @*右边的花*@
        <div id="right" class="flower rightflower">
            <div></div>
        </div>

        @*底边左边的花*@
        <div id="bottomleft" class="flower">
            <div></div>
        </div>
        @*底边右边的花*@
        <div id="bottomright" class="flower rightflower">
            <div></div>
        </div>

        @*底部*@
        <div id="bottom" class="flower rightflower">
            <div></div>
        </div>
        <div style="height: 10%">

        </div>
        <div style="height: 10%">
            <div id="yaoqing" style="text-align: center">
                <div class="midword">-邀请-</div>
            </div>

        </div>
        <div style="height: 10%">
            <div id="name" style="text-align: center">
                <div class="bigword" id="relaceName"></div>
            </div>
        </div>
        <div style="height: 48%">
            <div id="hunli" style="text-align: center">
                <div class="midword">
                    参<br>加<br>我<br>的<br>婚<br>礼
                </div>
            </div>
        </div>
        <div style="height: 10%">
            <div id="remark" style="text-align: center">
                <div class="smallword" id="replaceRemark"></div>
            </div>
        </div>
    </div>

    @*第二屏新娘介绍*@
    <div id="secondScreen" style="display: none">
        @*上半部分花*@
        <div id="secondtopflower" class="flower">
            <div>

            </div>
        </div>
        @*下半部分花*@
        <div id="secondbottomflower" class="flower">
            <div>

            </div>
        </div>
        <div style="height: 10%">

        </div>
        @*圆形图片位置*@
        <div style="height: 40%;text-align: center">
            <img id="zhangyuimg" class="am-circle am-img-thumbnail" src="weeding/images/zhangyu.png" />
        </div>
    </div>

    @*<div class="am-g" style="height: 20%; width: 70%;left: 18.1125px; top: -64.6875px; position: absolute; opacity: 1;">
            <div class="mycenterdiv" style="position: absolute; width: 100%; height: 100%; overflow: hidden;  background-image: url(/weeding/images/top.src); background-repeat: no-repeat; background-size: 100% 100%; background-position: 0px 0px; animation: zoomIn 1000ms ease 1000ms 1 alternate;">

            </div>
        </div>*@

    @*<div class="div-relative" style="height: 40%">
        <div id="imgtemp" class="am-g div-a" style="height: 100%; width: 100%; background-image: url(/weeding/images/huahuan6.png); background-size: contain; background-repeat: no-repeat;background-position: center">


        </div>
        <div class="am-g div-b" style="height: 100%">

            <img id="imgbg" class="am-circle am-img-thumbnail mycenterdiv" src="weeding/images/bg.png" />

        </div>
        <div id="huazhidiv" class="div-c">
            <img id="huazhi" src="~/weeding/images/huazhi.png" />
        </div>
        @*<div id="baihuazhidiv" class="div-d">
            <img id="baihuazhi" src="~/weeding/images/baihuazhi.png" />
        </div>*@
    @*
        </div>*@

    @*<div style="display: none">
            <div style="height: 40%">
                <div class="am-g" style="height: 100%">
                    <div class="am-u-sm-8 am-u-sm-centered" style="height: 100%" id="zhangyu">
                        <img class="am-circle am-img-thumbnail mycenterdiv" src="weeding/images/bg.png" />
                    </div>
                </div>

            </div>
        </div>*@

    @*活动页面*@
    <div id="mainPage" style="height: 100%; display: none">
        <div style="height: 32%">

        </div>
        <div style="height: 16%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-11 am-u-sm-centered" style="height: 100%" id="zhangyu">

                </div>
            </div>
        </div>
        <div style="height: 3%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12" style="height: 100%" id="yaoqing">
                </div>
            </div>
        </div>
        <div style="height: 2%;">
            <div class="am-g" style="height: 100%">

            </div>
        </div>
        <div style="height: 5%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12" style="height: 100%" id="shui">
                </div>
            </div>
        </div>
        <div style="height: 2%;">
            <div class="am-g" style="height: 100%">

            </div>
        </div>
        <div style="height: 30%;">
            <div class="am-g" style="height: 100%">
                <div class="am-u-sm-12" style="height: 100%" id="hunli">
                </div>
            </div>
        </div>


        @*<div style="height:20%">
                <div id="word"></div>
            </div>
            <div id="wanttosay" style="display: none">
                <div class="am-g" style="text-align: center">
                    <h1>XX</h1>
                </div>
                <div class="am-g">&nbsp;&nbsp;&nbsp;&nbsp;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</div>

            </div>*@
    </div>

    <div id="firstPage" style="display: none">
        <div class="am-g" style="height: 10%">

        </div>
        <div class="am-g" style="height: 80%">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div id="temp" style="display: none">
                    <div class="am-g" style="text-align: center">
                        <h1>XX</h1>
                    </div>
                    <div class="am-g">&nbsp;&nbsp;&nbsp;&nbsp;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</div>

                </div>
                <span id="whatToSay"></span>
            </div>

        </div>
        <div class="am-g" style="height: 10%">

        </div>

    </div>

    <div id="secondPage" style="display: none">
        <div class="am-g" style="height: 10%">
        </div>
        <div class="am-g" style="height: 20%">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div id="secondtemp" style="display: none">
                    <div class="am-g" style="text-align: center">
                        <h1>XXXX</h1>
                    </div>
                </div>
                <span id="secondman"></span>
            </div>
        </div>
        <div class="am-g" style="height: 60%">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div id="secondimgtemp" style="display: none">
                    <img class="am-circle am-img-thumbnail" style="width: 90%; height: 90%" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
                </div>
                <div id="secondimg" style="text-align: center"></div>
            </div>
        </div>
        <div class="am-g" style="height: 10%">
        </div>
    </div>
    <div style="display: none">
        @*<audio id="bgmusic" controls="controls">
                <source src="/weeding/music/Building%20A%20Family.mp3" type="audio/mpeg" />
            </audio>*@
        @*<img src="/weeding/images/bg.src"/>
            <img src="/weeding/images/top.src"/>
            <img src="/weeding/images/topbeside.src"/>
            <img src="/weeding/images/leftandright.src"/>
            <img src="/weeding/images/bottomleftandright.src"/>
            <img src="/weeding/images/bottom.src"/>*@
        <text>李涛大涛哥大涛姥爷请携款前往，概不赊账。携款前往，可以赊账。</text>
    </div>
</body>
</html>
@*<script>
        //不知道为什么必须要设置audio为autoplay才会加载，蛋疼啊
        //$("#bgmusic").removeAttr("autoplay");
        //var myAuto = document.getElementById('bgmusic');
        //myAuto.play();
        //setTimeout(function() {
        //    myAuto.pause();
        //    myAuto.autoplay = false;
        //    console.log("设置了false");
        //}, 50);

    </script>*@


@*媒体资源预加载*@
<script src="~/weeding/js/resLoader.js"></script>
<script src="~/weeding/js/preLoad.js"></script>

@*Jquery和自己写的js*@
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="~/weeding/js/common.js"></script>
<script src="~/weeding/js/main.js"></script>

@*字体CDN*@
<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
<script type="text/javascript">
    $youziku.load("body", "c980004284a24cc4b84d38c7ab932500", "jdlibianjian");
    $youziku.draw();
</script>

@*本地配置*@
<script src="~/weeding/js/amazeui.js"></script>
<script src="~/weeding/js/amazeui.ie8polyfill.js"></script>
<script src="~/weeding/js/amazeui.widgets.helper.js"></script>
<script src="~/weeding/js/typed.js"></script>

@*线上配置*@
@*<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
<script src="https://cdn.bootcss.com/typed.js/2.0.7/typed.min.js"></script>*@