
@model Mysoft.Tjqxj.Models.ViewModel.TestJsVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Access-Control-Allow-Origin" content="api.map.baidu.com">
    <title>灾情反馈</title>
    <link href="http://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
    <link href="~/tjqxj/css/feedback/feedback.css" rel="stylesheet" />
</head>
<body>

    <div class="weui-panel weui-panel_access" id="main">
        @*位置*@
        <div class="weui-panel__bd" id="locationbd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title" style="float: left">当前位置</h4>
                <p class="weui-media-box__desc" id="addressDetail">正在定位...</p>
            </div>
        </div>
        @*位置-end*@
        @*灾害类型*@
        <div class="weui-panel__bd" style="clear: both">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title" id="kindName">灾害类型</h4>
                <div class="weui-grids" id="chooseclimate">
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/by.png" />
                        </div>
                        <p class="weui-grid__label">
                            暴雨
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/ld.png" />
                        </div>
                        <p class="weui-grid__label">
                            雷电
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/hl.png" />
                        </div>
                        <p class="weui-grid__label">
                            洪涝
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/gh.png" />
                        </div>
                        <p class="weui-grid__label">
                            干旱
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/bx.png" />
                        </div>
                        <p class="weui-grid__label">
                            暴雪
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/bb.png" />
                        </div>
                        <p class="weui-grid__label">
                            冰雹
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/dw.png" />
                        </div>
                        <p class="weui-grid__label">
                            大雾
                        </p>
                    </a>
                    <a href="javascript:;" class="weui-grid">
                        <div class="weui-grid__icon">
                            <img src="~/tjqxj/images/gw.png" />
                        </div>
                        <p class="weui-grid__label">
                            高温
                        </p>
                    </a>

                </div>
            </div>

        </div>
        @*灾害类型-end*@
        @*现场图片*@
        <div class="weui-panel__bd" id="cssPic">
            <div class="weui-gallery" id="gallery">
                <span class="weui-gallery__img" id="galleryImg"></span>
                <div class="weui-gallery__opr">
                    <a href="javascript:" class="weui-gallery__del">
                        @*<i class="weui-icon-delete weui-icon_gallery-delete"></i>*@
                    </a>
                </div>
            </div>
            <div class="weui-media-box weui-media-box_text">
                @*<h4 class="weui-media-box__title">现场图片</h4>*@
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">现场图片</p>
                        <div class="weui-uploader__info" id="imgchoosednum">0/3</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" onclick="Test()" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*现场图片-end*@

        @*用户备注*@
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">其它信息</h4>
                <div class="weui-cells weui-cells_form" id="remarkform">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="请描述下现场情况..." rows="3" id="remark"></textarea>
                            <div class="weui-textarea-counter" id="inputword">
                                <span id="inputNum">0</span>/100
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @*用户备注-end*@

        @*弹窗通知*@
        <div style="display: none;" id="msg">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd">
                    <strong class="weui-dialog__title" id="msgtitle">title</strong>
                </div>
                <div class="weui-dialog__bd" id="msgtxt">msg</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                </div>
            </div>
        </div>

    </div>

<footer>
    <div style="text-align: center">
        <a id="submitbtn" class="weui-btn weui-btn_mini weui-btn_primary" onclick="SumbitInfo()">提交</a>
    </div>
</footer>

</body>

</html>
@*工具类js，提前加载*@
<script src="~/tjqxj/js/vconsole.min.js"></script>
<script src="~/tjqxj/js/feedback/common.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZKLhoXcO2o1DvaKLa9CqpTBoj7S8Ygnb"></script>
<script src="~/tjqxj/js/feedback/feedback.js"></script>
<script src="~/tjqxj/js/feedback/imgupload.js"></script>
<script>

    ////提交所有信息
    //function Submit1() {
    //    var files = $('#uploaderInput').prop('files');

    //    var data = new FormData();
    //    data.append('uploaderInput', files[0]);

    //    $.ajax({
    //        url: '/tjqxj/home/upload',
    //        type: 'POST',
    //        data: data,
    //        cache: false,
    //        processData: false,
    //        contentType: false
    //    });
    //}

    ////动态添加缩略图
    //$(function () {
    //    var tmpl = '<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(#url#)"></li>',
    //        $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
    //        $uploaderInput = $("#uploaderInput"),
    //        $uploaderFiles = $("#uploaderFiles")
    //        ;

    //    $uploaderInput.on("change", function (e) {
    //        var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
    //        for (var i = 0, len = files.length; i < len; ++i) {
    //            var file = files[i];

    //            if (url) {
    //                src = url.createObjectURL(file);
    //            } else {
    //                src = e.target.result;
    //            }

    //            $uploaderFiles.append($(tmpl.replace('#url#', src)));
    //        }
    //    });
    //    $uploaderFiles.on("click", "li", function () {
    //        $galleryImg.attr("style", this.getAttribute("style"));
    //        $gallery.fadeIn(100);
    //    });
    //    $gallery.on("click", function () {
    //        $gallery.fadeOut(100);
    //    });
    //});



    ////选择图片
    //function ChoosePic() {
    //    wx.chooseImage({
    //        count: 9, // 默认9
    //        sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
    //        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
    //        success: function (res) {
    //            var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
    //            alert("选择图片信息：" + localIds);
    //        }
    //    });
    //}

    ////预览图片
    //function previewImage() {
    //    wx.previewImage({
    //        current: 'http://mmbiz.qpic.cn/mmbiz/PiajxSqBRaEIQxibpLbyuSK8jCzLMb60WcfOX33TZvbkAWicYGGlWGlp8nov2jOIykS7jgTmcmr9sNKibavvsVRMzw/0?wx_fmt=jpeg', // 当前显示图片的http链接
    //        urls: ['http://mmbiz.qpic.cn/mmbiz/PiajxSqBRaEIQxibpLbyuSK8jCzLMb60WcfOX33TZvbkAWicYGGlWGlp8nov2jOIykS7jgTmcmr9sNKibavvsVRMzw/0?wx_fmt=jpeg','http://mmbiz.qpic.cn/mmbiz/PiajxSqBRaEIQxibpLbyuSK8jCzLMb60WcfOX33TZvbkAWicYGGlWGlp8nov2jOIykS7jgTmcmr9sNKibavvsVRMzw/0?wx_fmt=jpeg'] // 需要预览的图片http链接列表
    //    });
    //}

    $(function() {
        console.debug("加载成功");
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@Model.AppId', // 必填，公众号的唯一标识
            timestamp: @Model.TimeStamp, // 必填，生成签名的时间戳
            nonceStr: '@Model.NonceStr', // 必填，生成签名的随机串
            signature: '@Model.Signature', // 必填，签名
            jsApiList: ['getLocation', 'chooseImage','previewImage'] // 必填，需要使用的JS接口列表
        });
        wx.ready(function() {
            console.debug("执行ready");
            getLocation();//获取用户位置
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        });
        wx.error(function(res) {
            console.debug("执行error");
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        });

    });
</script>
